* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 20px 0;
}

#prof_pic {
    border-radius: 50%;
    background-color: #fff;
    height: 125px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 40px;
}

#card {
    height: 100px;
    margin: 0 auto;
    background-color: teal;
}

#header {
    width: 600px;
    margin: 0 auto;
    height: 100px;
}

h1 {
    padding-bottom: 20px;
    padding-top: 40px;
}

#body {
    border-left: gray;
    border-bottom: gray;
    border-right: gray;
    border-style: solid;
    border-top: none;
    height: 225px;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

p {
    padding-top: 15px;
}

.map-marker {
    width: 12px;
}

#location {
    vertical-align: middle;
}

.gear {
    width: 12px;
    padding-top: 15px;
}
